.sub-footer-strip {
  // box-shadow: 0px -4px 9px 0 rgba(36, 50, 66, 0.15);
  background: darken($secondary, 10%);
  position: fixed;
  overflow: hidden;
  left: 0;
  bottom: 0;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  min-height: 50px;
  flex-direction: column;
  .container {
    flex: 1;
    float: left;
    display: inline-flex;
    margin-left: 11.5%;

    .img1 img{
      position: absolute;
      left: 85%;
      max-height: 40px;
      max-width: 50px;
      min-width: auto;
      min-height: auto;
      
    } 
    .linkedin{
     
      
      margin-left: 25px;
      margin-right: 25px;


         
    } 
    .linkedin svg:hover path {
      fill: darken($secondary, 30%);
    }

    .twitter{
      
      
      margin-left: 25px;
      margin-right: 25px;
        


    } 
    .twitter svg:hover path {
      fill: darken($secondary, 30%);
    }
    .facebook{

      margin-left: 25px;
      margin-right: 25px;



    } 
    .facebook svg:hover path {
      fill: darken($secondary, 30%);
    }
    .mail {
      
      
      margin-left: 25px;
      margin-right: 25px;
      

    } 
    .mail svg:hover path.mail1 {
      fill: $secondary;
    }
    .mail svg:hover path.mail2 {
      fill: lighten($secondary, 10%);
    }
    .mail svg:hover path.mail3 {
      fill: darken($secondary, 30%);
    }  
  }

}


.sub-footer {
  display: flex;
  justify-content: space-between;


  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      list-style: none;
      display: block;
      font-size: 0.8rem;
      color: $primary;

      a {
        color: $primary;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
      span {
        display: inline-block;
        height: 40px;
        padding: 10px 0px 10px 8px;
        font-weight: bold;
        color: #fff;
      }
    }
    @include media-breakpoint-up(sm) {
      li {
        display: inline-block;
        margin-left: 10px;
        &:first-of-type {
          margin-left: 0;
        }
      }
    }
  }
}
