.page-registration{
  background: rgb(8, 183, 236);
  background: linear-gradient(180deg, rgba(143,206,237,1) 3%, rgba(255,255,255,0) 12%),url('../images/pexels-burst-374023.jpg');
  background-repeat: repeat;
  background-size: 100%;
  background-position:top;
  background-attachment: fixed;
  background-size: cover; 
}

.header{
  background: rgb(22, 153, 29);
  color: rgb(129, 31, 31);
  width: 100%;
  position: relative;
  padding: 10px 0;
  top: 0;
  position: top;
  align-items: top;
}

// Edits the layout for the navigator for weblinks
nav a{
  color: #fff;
  text-decoration: none;
  padding: 5px;
  display: inline-block;
  position: top;
  align-items: center;
}

.containerpt-3{
  width: 100%;
  margin: 0 auto; 
  padding: 0px;
  position: relative;
  align-items: center; /* Center the DIV horizontally */
}

.icons{
  flex: 1;
  float: center center;
  display: inline-flex;
  align-items: center;

.github{
  margin-left: 600px;
  margin-right: 25px;
}
.github svg:hover path {
  fill: #F5D389;
}
.linkedin{ 
  margin-left: 25px;
  margin-right: 25px;
} 
.linkedin svg:hover path {
  fill: #F5D389;
}
.facebook{
  margin-left: 25px;
  margin-right: 25px;
} 
.facebook svg:hover path {
  fill: #F5D389;
}
}