.page-home {
    
   background: rgb(143,206,237);
   background: linear-gradient(180deg, rgba(143,206,237,1) 10%, transparent 30%),url('../images/19366.jpg');
 /* background-image: url('../images/19366.jpg');*/
  background-repeat: no-repeat;
  background-size: 100%;
  background-position:center center;
  background-attachment: fixed;
  background-size: cover; 
    
 @include media-breakpoint-up(sm) {
    background-size: 100%;
    background-position: center center;
     -webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;  
     
  }
  @include media-breakpoint-up(md) {
    background-size: 100%;
    background-position: center center;
    -webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;  
    background-size: cover;
    background-attachment: fixed;   
  }
  @include media-breakpoint-up(lg) {
    background-size: 100%;
    background-position:center top;
   /* background-position: -10px 150px*/
    -webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;  
    background-attachment: fixed;  
    background-color: #464646;
    background-size: cover;  
    position: relative
  }
}