.page-teams {
  background-image: url('../images/19366.svg');
  background-repeat: no-repeat;
  background-size: 185%;
  background-position: center center;
  @include media-breakpoint-up(sm) {
    background-size: 180%;
    background-position: center center;
    background-attachment: fixed;  
  }
  @include media-breakpoint-up(md) {
    background-size: 180%;
    background-position: -700px  center;
    background-attachment: fixed;
  }
  @include media-breakpoint-up(lg) {
    background-size: 180%;
    background-position: -700px center;
    background-attachment: fixed;
    
  }
}
